@-webkit-keyframes face-rotation-animation {
    0% {
        -webkit-transform: translate(2px, 1px) rotate(0deg);
    }
    10% {
        -webkit-transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        -webkit-transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        -webkit-transform: translate(0px, 2px) rotate(0deg);
    }
    40% {
        -webkit-transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        -webkit-transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        -webkit-transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        -webkit-transform: translate(2px, 1px) rotate(-1deg);
    }
    80% {
        -webkit-transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        -webkit-transform: translate(2px, 2px) rotate(0deg);
    }
    100% {
        -webkit-transform: translate(1px, -2px) rotate(-1deg);
    }
}

.bg-dark {
    background-color: #2f3241 !important;
    border-bottom: 1px solid #1a1b23 !important;
    padding-top: 15px;
    padding-bottom: 15px;
}

#faces {
    display: flex;
    flex-direction: column;
    height: 640px;
    width: 100%;
    background-color: #2b2e3b;
}

.face {
    width: 60px;
    margin: auto;
    animation: face-rotation-animation 1s ease infinite;
}

.logo-univ {
    margin: auto;
}

.logo-univ img {
    width: 300px;
    height: 300px;
}

.left-faces {
    width: 100%;
    height: 350px;
    margin: auto;
    display: flex;
}

.faces-grid {

}

.faces-grid .row,
.faces-grid .row {
    width: 100%;
    margin: auto;
}

.faces-grid .row .col-sm-6,
.faces-grid .row .col-sm-4 {
    display: flex;
}

.faces-grid {
    display: inline-grid;;
    width: 100%;
    height: 100%;
}

.right-faces {
    display: flex;
    width: 100%;
    height: 350px;
    margin: auto;
}

.face-1-l {
    width: 30px;
    margin-right: 20px;
    opacity: 0.6;
    animation-delay: -0.2s;
}

.face-2-l {
    width: 70px;
    margin-top: 0;
    opacity: 0.8;
    animation-delay: -0.1s;
}

.face-3-l {
    width: 25px;
    margin-top: 0;
    opacity: 0.5;
    animation-delay: -0.3s;
}

.face-4-l {
    opacity: 0.6;
    animation-delay: -0.5s;
}

.face-5-l {
    width: 75px;
    opacity: 0.85;
    animation-delay: -0.4s;
}

.face-6-l {
    width: 35px;
    margin-top: 0;
    opacity: 0.6;
    animation-delay: -0.9s;
}

.face-7-l {
    width: 65px;
    opacity: 0.85;
    margin-left: 50px;
    margin-bottom: -20px;
    animation-delay: -0.6s;
}

.face-1-r {
    margin-left: 20px;
    opacity: 0.6;
    animation-delay: -0.25s;
}

.face-2-r {
    width: 70px;
    margin-top: 0;
    opacity: 0.8;
    animation-delay: -0.15s;
}

.face-3-r {
    width: 25px;
    margin-top: 0;
    opacity: 0.5;
    animation-delay: -0.35s;
}

.face-4-r {
    opacity: 0.6;
    animation-delay: -0.55s;
}

.face-5-r {
    width: 75px;
    opacity: 0.85;
    animation-delay: -0.45s;
}

.face-6-r {
    width: 35px;
    margin-top: 0;
    opacity: 0.6;
    animation-delay: -0.95s;
}

.face-7-r {
    width: 65px;
    opacity: 0.85;
    margin-right: 50px;
    margin-bottom: -20px;
    animation-delay: -0.65s;
}

.faces-container-first-row {
    display: flex;
    width: 100%;
    height: 100%;
}

.faces-container-second-row {
    display: flex;
    width: 100%;
    height: 80px;
    line-height: 80px;
}

.faces-container-second-row .univ-text {
    margin: auto;
    font-size: 2.4rem;
    color: #9feaf9;
}