<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head_info"></head>
<body>
<header th:replace="fragments/header :: head"></header>
<section id="faces">
    <div class="faces-container-first-row">
        <div class="left-faces">
            <div class="faces-grid">
                <div class="row text-center">
                    <div class="col-sm-6">
                        <img th:src="@{/img/faces/MaxO.png}" class="face face-1-l">
                    </div>
                    <div class="col-sm-6">
                        <img th:src="@{/img/faces/MaxO.png}" class="face face-2-l">
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-sm-4">
                        <img th:src="@{/img/faces/MaxO.png}" class="face face-3-l">
                    </div>
                    <div class="col-sm-4">
                        <img th:src="@{/img/faces/MaxO.png}" class="face face-4-l">
                    </div>
                    <div class="col-sm-4">
                        <img th:src="@{/img/faces/MaxO.png}" class="face face-5-l">
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-sm-6">
                        <img th:src="@{/img/faces/MaxO.png}" class="face face-6-l">
                    </div>
                    <div class="col-sm-6">
                        <img th:src="@{/img/faces/MaxO.png}" class="face face-7-l">
                    </div>
                </div>
            </div>
        </div>
        <div class="logo-univ">
            <img th:src="@{/img/DimasosLogo.png}">
        </div>
        <div class="right-faces">
            <div class="faces-grid">
                <div class="row text-center">
                    <div class="col-sm-6">
                        <img th:src="@{/img/faces/AlexR.png}" class="face face-2-r">
                    </div>
                    <div class="col-sm-6">
                        <img th:src="@{/img/faces/AlexR.png}" class="face face-1-r">
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-sm-4">
                        <img th:src="@{/img/faces/AlexR.png}" class="face face-5-r">
                    </div>
                    <div class="col-sm-4">
                        <img th:src="@{/img/faces/AlexR.png}" class="face face-4-r">
                    </div>
                    <div class="col-sm-4">
                        <img th:src="@{/img/faces/AlexR.png}" class="face face-3-r">
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-sm-6">
                        <img th:src="@{/img/faces/AlexR.png}" class="face face-7-r">
                    </div>
                    <div class="col-sm-6">
                        <img th:src="@{/img/faces/AlexR.png}" class="face face-6-r">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="faces-container-second-row text-center">
        <div class="univ-text">
            Dimasos University gaining students
        </div>
    </div>
</section>
<section>
    Here will be our features :3
</section>
<div th:replace="fragments/footer :: scripts"></div>
</body>
</html>