<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head_info"></head>
<body>
<header th:replace="fragments/header :: head"></header>
<section id="auth">
    <div class="auth-form-container">
        <div class="auth-form">
            <div class="auth-logo">
                <img src="../static/img/DimasosLogo.png" th:src="@{/img/DimasosLogo.png}" alt="">
            </div>
            <div class="form-content">
                <form th:action="@{/login}" method="post">
                    <div th:if="${param.error}">
                        <div class="alert alert-danger">
                            Incorrect username or password
                        </div>
                    </div>
                    <div th:if="${param.logout}">
                        <div class="alert alert-info">
                            You have successfully logged out of your account
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" id="username" name="username" autofocus="autofocus"
                               placeholder="Email" aria-label="Username" aria-describedby="username">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-unlock"></i></span>
                        </div>
                        <!--/*@thymesVar id="password" type="by.grsu.boldak.model.AuthenticateForm"*/-->
                        <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                               aria-label="Password" aria-describedby="password">
                    </div>
                    <button type="submit" name="login-submit" id="login-submit"
                            class="btn btn-primary btn-lg btn-block pad-auth-btn">Sign in
                    </button>

                    <div class="form-group text-center mt-3">
                        <span>Not registered? <a href="/" th:href="@{/registration}">Sign out here</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<footer th:replace="fragments/footer :: footer"></footer>
<div th:replace="fragments/footer :: scripts"></div>
</body>
</html>